<tr>
	<td><%= link_to @prospect.full_name, prospect_path(@prospect) %></td>
	<td><%= @prospect.email %></td>
	<td><%= @prospect.phone %></td>
	<td><%= @prospect.location %></td>
	<td><%= @prospect.stage.name %></td>
</tr>